<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js + Express Backend</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main>
    <h1>Node.js + Express Backend</h1>
    <p>This is a backend-only project. Please use Postman to test the following routes:</p>
    <section class="api-table">
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th>Route</th>
            <th>Description</th>
            <th>Auth</th>
          </tr>
        </thead>

        <tbody>
          <tr><td>POST</td><td>/register</td><td>Create user</td><td>No</td></tr>
          <tr><td>POST</td><td>/auth</td><td>Login user</td><td>No</td></tr>
          <tr><td>GET</td><td>/refresh</td><td>Get access token</td><td>Yes (cookie)</td></tr>
          <tr><td>POST</td><td>/logout</td><td>Logout user</td><td>Yes</td></tr>
          <tr><td>GET</td><td>/api/employee</td><td>List employees</td><td>Yes</td></tr>
          <tr><td>GET</td><td>/api/employee/:id</td><td>Get employee</td><td>Yes</td></tr>
          <tr><td>POST</td><td>/api/employee</td><td>Add employee</td><td>Yes</td></tr>
          <tr><td>PUT</td><td>/api/employee</td><td>Update employee</td><td>Yes</td></tr>
          <tr><td>DELETE</td><td>/api/employee</td><td>Delete employee</td><td>Yes</td></tr>
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>© 2025 by Rakesh | <a href="mailto:rakeschowdary.018@gmail.com">rakeschowdary.018@gmail.com</a></p>
    <ul class="socials">
      <li><a href="https://github.com/rakeesssh007" target="_blank"><img class="static" src="images/Static-logos/github-1080px.png"><img class="gif" src="images/Animated-logos/Github-1200px.gif"></a></li>
      <li><a href="https://www.linkedin.com/in/rakesh-chowdary-965663292" target="_blank"><img class="static" src="images/Static-logos/linkedin-1080px.png"><img class="gif" src="images/Animated-logos/Linkedin-1080px.gif"></a></li>
      <li><a href="https://discordapp.com/users/1171456118111862864" target="_blank"><img class="static" src="images/Static-logos/discord-1200px.png"><img class="gif" src="images/Animated-logos/Discord-1080px.gif"></a></li>
      <li><a href="https://x.com/RakeshC007" target="_blank"><img class="static" src="images/Static-logos/twitter-1080px.png"><img class="gif" src="images/Animated-logos/twitter-1080px.gif"></a></li>
      <li><a href="https://www.instagram.com/iamrakesh._007" target="_blank"><img class="static" src="images/Static-logos/instagram-1200px.png"><img class="gif" src="images/Animated-logos/Instagram-1200px.gif"></a></li>
    </ul>
  </footer>
</body>
</html>
